* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg) ;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
--switch-bg-url: url(assets/moon-stars.svg);

}


.light {
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg) ;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(assets/sun.svg);
}
    

body {
    background: var(--bg-url);
    background-size: cover;
    background-repeat: no-repeat;
height: 100vh;
transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

body * {
    color: var(--text-color);
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

#container {
    width: 100%;
    max-width: 588px;
    margin:  56px auto;

padding: 0 24px;

}

#profile {
    text-align: center;
    padding: 24px;
    

}

#profile img {
width: 112px;

}

#profile p {
    margin-top:  5px;
    

}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}


    #switch {
        position: relative;
margin: 04px auto;
        width: 64px;
    }


#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center; 
border: 0;
border-radius: 50%;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
z-index: 1;
transition: left 0.2s ease-in-out, background 0.2s ease-in-out, outline 0.2s ease-in-out;

animation: slide-out 0.2s ;
}

#switch span {
display: block;   
     width: 64px;
    height: 24px;

    background: var(--surface-color);
   backdrop-filter: blur(4px);
    border: var(--stroke-color) 1px solid;
border-radius: 9999px;


}


.light #switch button {
animation: slide-in 0.2s forwards;

}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}



ul  {
list-style: none;

display: flex;

padding: 24px 0 ;
gap: 16px;
flex-direction:    column;     }
    


ul li a{
    display: flex;
    
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
 
transition: background 0.2s;

 text-decoration: none;
  background: var(--surface-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  border: 1px solid var(--stroke-color);
}   

ul li a:hover {

    background:  var(--surface-color-hover);
    border: var(--text-color) 1.5px solid;

}

#social-links {
    display: flex;
    gap: 2px    ;
    padding: 24px 0  ;
    font-size: 24px;
    justify-content: center;
}

#social-links a{

display: flex;
align-items: center;
justify-content: center;
padding: 16px ;
border-radius: 50%;
transition: background 0.2s;
}

#social-links a:hover {

background: var(--highlight-color);

}

#final {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}

@media (min-width: 700px) {
    :root  {
        --bg-url: url(assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(assets/bg-desktop-light.jpg);
    }
}


@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}


















